/*
 * @file
 * kanban-block-task-steps.css
*/

.kanban-task-steps {
  clear: both;
}

.kanban-task-steps ul {
  margin: 5px;
  padding: 5px;
}

.kanban-task-steps ul li {
  border: 1px solid silver;
  display: block;
  float: left;
  list-style-type: none;
  margin: 3px;
  min-width: 64px;
  padding: 3px;
  text-align: center;
}

.kanban-task-steps ul li.kanban-next div {
  background: url(img/arrow-right-grey.png) no-repeat center center;
  border: 3px solid transparent;
  margin-left: 13px;
}
.kanban-task-steps ul li.kanban-one-next div {
  background: url(img/arrow-double-right-black.png) no-repeat center center;
}

.kanban-task-steps ul li.kanban-before div {
  background: url(img/arrow-left-lightgrey.png) no-repeat center center;
  border: 3px solid transparent;
  margin-left: 13px;
}

.kanban-task-steps ul li.kanban-active div {
  background-color: yellow;
  border: 3px solid black;
  margin-left: 13px;
}

.kanban-task-steps ul li h4 {
  font-weight: bold;
  margin-bottom: 3px;
  margin-top: 3px;
}

.kanban-task-steps ul li div.kanban-switch-link span,
.kanban-task-steps ul li div.kanban-switch-nolink span,
.kanban-task-steps ul li div.kanban-switch-current span {
  height: 1px;
  left: -1000em;
  position: absolute;
  top: -1000em;
  width: 1px;
}
.kanban-task-steps ul li div.kanban-switch-link a {
  display: block;
  height: 32px;
  width: 32px;
}
.kanban-task-steps ul li div.kanban-switch-link,
.kanban-task-steps ul li div.kanban-switch-nolink,
.kanban-task-steps ul li div.kanban-switch-current {
  display: block;
  height: 32px;
  width: 32px;
}
