/*
 * @file
 * kanban-processtasks.css
*/

.kanban-project-tasks {
  clear: both;
}

.kanban-project-tasks ul {
  margin: 0px;
  padding: 0px;
}

.kanban-project-tasks ul li {
  border: 1px solid silver;
  display: block;
  float: left;
  list-style-type: none;
  margin: 0;
  padding-bottom: 3px;
  padding-right: 3px;
  text-align: center;
}

.kanban-project-tasks ul.kanban-steplist li {
  margin-left: 3px;
  margin-right: 3px;
  max-width: 128px;
  min-width: 64px;
  padding-left: 3px;
}

.kanban-project-tasks ul.kanban-tasklist li {
  background-color: yellow;
}

.kanban-project-tasks ul.kanban-tasklist li div {
  margin: 0;
  padding: 0;
}

.kanban-project-tasks ul.kanban-tasklist li div a {
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.kanban-steplist h3 {
  margin: 0;
  padding: 0;
}

.kanban-steplist h4 {
  margin: 0;
  padding: 0;
}
.kanban-project-tasks .kanban-task-links {
  text-align: right;
}

.kanban-project-tasks .kanban-task-links a {
  text-decoration: none;
}

.kanban-project-tasks .kanban-task-links a span {
  height: 1px;
  left: -1000em;
  position: absolute;
  top: -1000em;
  width: 1px;
}
